/*------------
    BUTTONS
--------------*/
.btn {
    border: none;
    font-family: inherit;
}
.btn-primary {
    background-color: #fff;
}
.btn-secondary {
    background-color: var(--first-color);
}
.btn-small {
    padding: .625rem .9375rem;
    border-radius: 1.25rem;
    font-size: inherit;
}
.btn-large {
    padding: .75rem 3.125rem;
    border-radius: 1.25rem;
    color: #fff;
    font-size: inherit;
    font-weight: bold;
}