header {
    background-color: var(--first-color);
    padding: 1.25rem 0;
    color: #fff;
}
.main-nav {
    display: none;
}
header .list-inline li:not(:last-child) {
    margin-right: 1.875rem;
}
header .list-inline li a {
    text-decoration: none;
    color: #fff;
}

/* Desktop */
@media screen and (min-width: 992px) {
    .hamburger {
        display: none;
    }
    .main-nav {
        display: block;
    }
}