/*--------------------
    SECTION HIGHLIGHTS
----------------------*/
.card-highlight {
    background-color: var(--first-color-light);
    padding: 1.875rem;
    height: 100%;
}
.highlights .col {
    width: 100%;
    margin: .625rem 0;
}
.img-phone-highlight {
    max-height: 16.875rem;
    display: block;
    margin-bottom: -1.875rem;
}
.h3-highlight {
    color: var(--first-color);
}
.text-highlight {
    font-weight: bold;
    color: var(--text-color1);
}
.icon-highlight {
    color: var(--first-color);
    font-size: 5rem;
}
/* Tablet */
@media screen and (min-width: 768px) {
    .highlights .col {
        width: calc(100% / 3);
    }
    .highlights .col:first-child {
        width: calc( (100% / 3) * 2);
    }
    .highlights .col-right {
        width: 50%;
    }
}
/* Desktop */
@media screen and (min-width: 992px) {
    .highlights .col.row-wrap .card-highlight:first-of-type {
        display: flex;
        flex-wrap: nowrap;
    }
    .highlights .col-left, .col-right {
        width: 50%;
    }
    .highlights .col-right {
        align-items: flex-end;
    }
}

/*--------------------
    SECTION STRATEGIC
----------------------*/
.strategic .col {
    width: 100%;
    margin: .625rem 0;
}
.strategic .col-left {
    color: #fff;
}
.card-strategic {
    padding: 1.875rem;
}
.img-strategic {
    width: 100%;
    display: block;
}
.icon-strategic {
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: .9375rem;
    display: inline-block;
    height: 3.125rem;
    width: 3.125rem;
}
/* Desktop */
@media screen and (min-width: 992px) {
    .strategic .col {
        width: 50%;
    }
    .strategic .row-wrap {
        padding-left: 8.125rem;
        padding-right: 8.125rem;
    }
}

/*-----------------------
    SECTION TESTIMONIALS
-------------------------*/
.card-testimonial {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 1.25rem;
    margin: 1.25rem 0;
}
.testimonials .col {
    width: 100%;
    margin: .625rem 0;
}
@media screen and (min-width: 768px) {
    .card-testimonial {
        text-align: left;
    }
    .testimonials .col-left {
        width: 30%;
    }
    .testimonials .col-right {
        width: 70%;
    }
    .box-image {
        justify-content: flex-start;
    }
}

/*-----------------------
    SECTION BENEFITS
-------------------------*/
.benefits .col {
    width: 100%;
    margin: .625rem 0;
}
.card-benefit {
    padding: 1.875rem;
}
/* Tablet */
@media screen and (min-width: 768px) {
    .benefits .col {
        width: 50%;
    }
}
/* Desktop */
@media screen and (min-width: 992px) {
    .benefits .col {
        width: calc(100% / 3);
    }
}

/*-----------------------
    SECTION ABOUT US
-------------------------*/
.about-us .col {
    width: 100%;
    margin: .625rem 0;
}
/* Tablet */
@media screen and (min-width: 768px) {
    .about-us .col {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .about-us .col-left {
        width: 65%;
    }
    .about-us .col-right {
        width: 35%;
    }
}
/* Desktop */
@media screen and (min-width: 992px) {
    .about-us .col {
        width: calc(100% / 3);
        
    }
    .about-us .col:first-child {
        width: calc( (100% / 3) * 2);
    }
}

/*-----------------------
    SECTION GET STARTED
-------------------------*/
