/*--------------------
    SECTION HIGHLIGHTS
----------------------*/
.card-debug {
    background-color: var(--first-color-light);
    height: 300px;
}
.highlights .col {
    width: 100%;
    margin: .625rem 0;
}
/* Tablet */
@media screen and (min-width: 768px) {
    .highlights .col {
        width: calc(100% / 3);
    }
    .highlights .col:first-child {
        width: calc( (100% / 3) * 2);
    }
}

/*--------------------
    SECTION STRATEGIC
----------------------*/
.strategic .col {
    width: 100%;
    margin: .625rem 0;
}
.card-strategic {
    background-color: #fff;
}
/* Desktop */
@media screen and (min-width: 992px) {
    .strategic .col {
        width: 50%;
    }
    .strategic .row-wrap {
        padding-left: 8.125rem;
        padding-right: 8.125rem;
    }
}

/*-----------------------
    SECTION PARTNERS
-------------------------*/
.partners .col {
    width: 100%;
    margin: .625rem 0;
}
.card-partner {
    background-color: var(--secondary-color);
}

/*-----------------------
    SECTION BENEFITS
-------------------------*/
.benefits .col {
    width: 100%;
    margin: .625rem 0;
}
.card-benefits {
    background-color: #fff;
}
/* Tablet */
@media screen and (min-width: 768px) {
    .benefits .col {
        width: 50%;
    }
}
/* Desktop */
@media screen and (min-width: 992px) {
    .benefits .col {
        width: calc(100% / 3);
    }
}

/*-----------------------
    SECTION ABOUT US
-------------------------*/
.about-us .col {
    width: 100%;
    margin: .625rem 0;
}
/* Tablet */
@media screen and (min-width: 768px) {
    .about-us .col {
        width: 50%;
    }
}
/* Desktop */
@media screen and (min-width: 992px) {
    .about-us .col {
        width: calc(100% / 3);
        padding-left: 3.125rem;
        padding-right: 3.125rem;
    }
    .about-us .col:first-child {
        width: calc( (100% / 3) * 2);
    }
}

/*-----------------------
    SECTION GET STARTED
-------------------------*/
.get-started .text-center {
    text-align: center;
}